<!--Aside part (Section)- Compiled Successfully-->
<form action="action.php" method="POST">
<div class="form-group">
    <div class="container">
             <div class="col-8 ">
                <div class="row row-tabs" >
                    <label><h1>Login</h1></label>
                </div>
                <div class="row row-tabs" >
                    <label>UserName:</label>
                 <input type="textbox" name="uname" class="form-control" placeholder="Enter the Username" required>
                </div>
                <div class="row row-tabs">
                <label>Password:</label>
                <input type="password" name="pswd" class="form-control" placeholder="Enter the password" required>
                </div>
                <div class="row row-tabs ">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
                </div>
                </div>
                
        </div>
    </form>


