<html>
     <!--using InterPolation-
    <head>
<title>Event handling Using ngif</title>
    </head>
    <body>
    <div><h2>Name:{{name}}</h2></div>
    <div><h2 *ngIf="age">Age:{{age}}</h2></div>
    <div><h2>Email:{{email}}</h2></div>
    <input type="button" value="change" (click)="changeVal()"/>
    </body>-->

<!-- data handling using method 
    <head>
        <title>Event handling Using ngif </title>
            </head>
            <body>
            <div><h2>Name:{{name}}</h2></div>
            <div><h2>Age:{{age}}</h2></div>
            <div><h2>Email:{{email}}</h2></div>
            <input type="button" value="change" (click)="changeVal()"/>
            <div *ngIf="age>18"><h3>eligible for vote</h3></div>
            <div *ngIf="age<18"><h3>Not eligible for vote</h3></div>
        
            </body> -->

          
</html>
