<html>
    <head>
        
    </head>
        <body>
            <header class="container">
            <nav class="row mt-3">
                <div class="col-3">
                    <button type="button">Logo</button>
                </div>
                <div class="col-6">
                     <ul class="nav nav-tabs nav-justified">
                         <li class="nav-item">
                             <a href="#" class="nav-link">Upload-Media</a>
                        </li>
                        <li class="nav-item">
                            <a href="#"class="nav-link">My-Media</a>
                         </li>
                         <li class="nav-item">
                            <a href="#" class="nav-link">Follow/followers</a>
                        </li>
                      </ul>
                    </div>
                <div class="col-3 d-flex justify-content-end">
                    <button type="button">Account</button>
                </div>

            </nav>
     </header>
    </body>
</html>


